
.ipynb_checkpoints/A2_exploration_and_modeling-checkpoint.ipynb
.ipynb_checkpoints/A2_Report-checkpoint.ipynb
dataset/netflix-prize-data/combined_data_1.txt
dataset/netflix-prize-data/combined_data_2.txt
dataset/netflix-prize-data/combined_data_3.txt
dataset/netflix-prize-data/combined_data_4.txt
dataset/netflix-prize-data/movie_titles.csv
dataset/netflix-prize-data/probe.txt
dataset/netflix-prize-data/qualifying.txt
dataset/cleaned_1.csv
dataset/cleaned_test_1.csv
dataset/cleaned_test_2.csv
dataset/cleaned_train_1.csv
dataset/cleaned_train_2.csv
dataset/formated_1.csv
dataset/netflix-prize-data/README
dataset/np_matrix_1.txt
np_matrix_1.txt
*.txt
*.csv
